<div class="docs-component-viewer-nav">
  <div class="docs-component-viewer-nav-content">
    <!-- <nav *ngFor="let category of docItems.getCategories((params | async)?.SECTIONS); let last = last;">
      <button cdkAccordionItem #panel="cdkAccordionItem" (click)="panel.toggle()" expanded="true"
              class="docs-nav-content-btn"
              [attr.aria-label]="category.name + ', section toggle'"
              [attr.aria-controls]="'panel-' + category.id"
              [attr.aria-expanded]="panel.expanded">
        {{category.name}}
        <mat-icon>{{panel.expanded ? 'keyboard_arrow_up' :  'keyboard_arrow_down'}}</mat-icon>
      </button>
      <ul [@bodyExpansion]="panel.expanded ? 'expanded' : 'collapsed'" id="panel-{{category.id}}">
        <li *ngFor="let component of category.items">
          <a [routerLink]="'/' + (params | async)?.section+ '/' + component.id"
            routerLinkActive="docs-component-viewer-sidenav-item-selected">
            {{component.name}}
          </a>
        </li>
      </ul>
      <hr *ngIf="!last" />
    </nav> -->
    <div class="logo">
      <img src="../../../assets/img/zxs.png" />
    </div>

    <div class="flex-logo">

      <mat-icon [ngClass]="{'red': selectinfo === '手机'}" class="docs-angular-logo"
        (click)="onclick('手机')">phone</mat-icon>
      <mat-icon [ngClass]="{'red': selectinfo === '邮箱'}" class="docs-angular-logo"
        (click)="onclick('邮箱')">email</mat-icon>
      <i [ngClass]="{'red': selectinfo === '微信'}" class="fa fa-weixin fa-icon docs-angular-logo"
        (click)="onclick('微信')"></i>
      <!-- <img [ngClass]="{'red': selectinfo === 'github： 123456789'}" class="docs-angular-logo"
        (click)="onclick('github： 123456789')"
        src="../../../assets/img/homepage/github-circle-white-transparent.svg" alt="angular"> -->
      <i [ngClass]="{'red': selectinfo === 'github'}" class="fa fa-github fa-icon docs-angular-logo"
        (click)="onclick('github')"></i>
    </div>

    <div class="selectinfo" *ngIf="selectinfo === '手机'">
      <a [href]="'tel:' + infoModel.aplData.phone">手机： {{infoModel.aplData.phone}}</a>
    </div>
    <div class="selectinfo" *ngIf="selectinfo === '邮箱'">
      <a [href]="'mailto:' + infoModel.aplData.email">邮箱： {{infoModel.aplData.email}}</a>
    </div>
    <div class="selectinfo" *ngIf="selectinfo === '微信'">
      微信： {{infoModel.aplData.wechat}}
    </div>
    <div class="selectinfo" *ngIf="selectinfo === 'github'">
      <a [href]="infoModel.aplData.github">github： {{infoModel.aplData.github}}</a>
    </div>


    <nav>
      <button cdkAccordionItem #panel="cdkAccordionItem" (click)="panel.toggle()" expanded="true"
        class="docs-nav-content-btn" [attr.aria-label]="'resume'" [attr.aria-controls]="'panel-resume'"
        [attr.aria-expanded]="panel.expanded">
        简历
        <mat-icon>{{panel.expanded ? 'keyboard_arrow_up' :  'keyboard_arrow_down'}}</mat-icon>
      </button>
      <ul [@bodyExpansion]="panel.expanded ? 'expanded' : 'collapsed'" id="panel-resume">
        <li *ngFor="let section of sections">
          <a [href]="'components/categories#' + section.id"
            routerLinkActive="docs-component-viewer-sidenav-item-selected">
            {{section.name}}
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- <div>
    <img class="docs-angular-logo" src="../../../assets/img/zxs.svg" alt="angular">
  </div> -->
</div>